<%- include ('partials/header') %>
<h1>Your Matches</h1>
<div class="row">
  <% users.forEach(user => { %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <% if (user.profilePic) { %>
          <img src="/<%= user.profilePic %>" class="card-img-top" alt="Profile Picture">
        <% } %>
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text"><%= user.profile.bio %></p>
          <p class="card-text">Interests: <%= user.profile.interests.join(', ') %></p>
          <a href="/messages/<%= user._id %>" class="btn btn-primary">Send Message</a>
        </div>
      </div>
    </div>
  <% }); %>
</div>
<%- include ('partials/footer') %>
